<a href="https://colab.research.google.com/github/IvonPedr0/ENG_20242/blob/main/Atividade1/atv_conjunto_set_10102024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Atividade 01 - Entrega 02/11**

**Aluno:** Ivon Pedro da Silva Neto

# Exercícios do dia 10/10/24

1 - Crie uma tupla chamada cidades que contenha os nomes de cinco cidades. Imprima a terceira cidade.

In [ ]:
cidades = ("São Paulo", "Rio de Janeiro", "Belo Horizonte", "Salvador", "Fortaleza")
cidades[2]

'Belo Horizonte'

2 - Crie uma tupla chamada numeros com os seguintes valores: (1, 2, 3, 1, 4, 1). Utilize o método count() para contar quantas vezes o número 1 aparece na tupla.

In [ ]:
numeros = (1, 2, 3, 1, 4, 1)
count_1 = numeros.count(1)
count_1

3

3 - Crie uma tupla chamada animais com os seguintes valores: ('cachorro', 'gato', 'pássaro'). Verifique se 'gato' está na tupla e imprima uma mensagem informando o resultado.

In [ ]:
animais = ('cachorro', 'gato', 'pássaro')

if 'gato' in animais:
  print("O animal 'gato' está presente na tupla.")
else:
  print("O animal 'gato' não está presente na tupla.")

O animal 'gato' está presente na tupla.

4 - Dada a tupla meses = ('janeiro', 'fevereiro', 'março', 'abril', 'maio'), encontre e imprima o índice do mês 'abril'.

In [ ]:
meses = ('janeiro', 'fevereiro', 'março', 'abril', 'maio')
indice_abril = meses.index('abril')
indice_abril

3

5 - Crie uma tupla chamada coordenadas que armazene a latitude e longitude de um local (ex: (-23.5505, -46.6333)). Imprima a latitude e a longitude separadamente.

In [ ]:
coordenadas = (-23.5505, -46.6333)
latitude = coordenadas[0]
longitude = coordenadas[1]

print("Latitude:", latitude)
print("Longitude:", longitude)

Latitude: -23.5505
Longitude: -46.6333

6 - Crie um dicionário chamado carro com as chaves marca, modelo e ano. Atribua valores de sua escolha e imprima o modelo do carro.

In [ ]:
carro = {
    "marca": "Fiat",
    "modelo": "Uno",
    "ano": 1995
}

print(carro["modelo"])

Uno

7 - Use o dicionário carro que você criou no exercício anterior. Adicione uma nova chave chamada cor e atribua uma cor ao carro. Em seguida, imprima o dicionário completo.

In [ ]:
carro["cor"] = "vermelho"
carro

{'marca': 'Fiat', 'modelo': 'Uno', 'ano': 1995, 'cor': 'vermelho'}

8 - Dado o dicionário pessoa = {'nome': 'João', 'idade': 30, 'cidade': 'São Paulo'}, remova a chave idade e imprima o dicionário resultante.

In [ ]:
pessoa = {'nome': 'João', 'idade': 30, 'cidade': 'São Paulo'}
del pessoa['idade']
pessoa

{'nome': 'João', 'cidade': 'São Paulo'}

9 - Crie um dicionário chamado produto que contenha nome, preco e quantidade. Use um loop for para imprimir todos os pares chave/valor.

In [ ]:
produto = {
    "nome": "Notebook",
    "preco": 2500.00,
    "quantidade": 10
}

for chave, valor in produto.items():
  print(f"{chave}: {valor}")

nome: Notebook
preco: 2500.0
quantidade: 10

10 - Dado o dicionário estudante = {'nome': 'Maria', 'curso': 'Biologia', 'ano': 2}, verifique se a chave curso existe. Se existir, imprima "A estudante está no curso de Biologia."

In [ ]:
estudante = {'nome': 'Maria', 'curso': 'Biologia', 'ano': 2}
if 'curso' in estudante:
  print("A estudante está no curso de Biologia.")

A estudante está no curso de Biologia.

# Exercícios do dia 21/10/24

1 - Crie um conjunto chamado `frutas` que contenha os seguintes elementos: "maçã", "banana", "laranja" e "uva". Depois de criar o conjunto, exiba-o no console para confirmar os elementos adicionados.

In [ ]:
frutas = {"maçã", "banana", "laranja", "uva"}
frutas

{'banana', 'laranja', 'maçã', 'uva'}

2 - Utilizando o conjunto `frutas` criado anteriormente, adicione a fruta "morango" ao conjunto. Lembre-se que conjuntos não permitem duplicatas, então adicione um elemento que já exista para verificar o comportamento.

In [ ]:
frutas.add("morango")
frutas.add("maçã")
frutas

{'banana', 'laranja', 'maçã', 'morango', 'uva'}

3 - Remova a fruta "banana" do conjunto `frutas`. Se "banana" não estiver presente, o código pode gerar um erro. Verifique se a fruta existe antes de removê-la ou trate o erro adequadamente.

In [ ]:
if "banana" in frutas:
  frutas.remove("banana")
else:
  print("A fruta 'banana' não está presente no conjunto.")

frutas

{'laranja', 'maçã', 'morango', 'uva'}

4 - Verifique se a fruta "laranja" está presente no conjunto `frutas` usando uma estrutura condicional. Exiba uma mensagem no console indicando se "laranja" está ou não presente no conjunto.

In [ ]:
if "laranja" in frutas:
  print("A fruta 'laranja' está presente no conjunto.")
else:
  print("A fruta 'laranja' não está presente no conjunto.")

A fruta 'laranja' está presente no conjunto.

5 - Crie um segundo conjunto chamado `citrus`, contendo "laranja", "limão" e "tangerina". Faça a união dos conjuntos `frutas` e `citrus`, criando um novo conjunto que contém todos os elementos dos dois conjuntos. Exiba o resultado dessa união.

In [ ]:
citrus = {"laranja", "limão", "tangerina"}
uniao_frutas_citrus = frutas.union(citrus)
uniao_frutas_citrus

{'laranja', 'limão', 'maçã', 'morango', 'tangerina', 'uva'}

6 - Usando os conjuntos `frutas` e `citrus`, encontre a interseção entre eles, ou seja, os elementos que estão presentes em ambos os conjuntos. Exiba os elementos comuns.

In [ ]:
frutas = {"maçã", "banana", "laranja", "uva"}
citrus = {"laranja", "limão", "tangerina"}

intersecao = frutas.intersection(citrus)
intersecao

{'laranja'}

7 - Encontre a diferença entre os conjuntos `frutas` e `citrus`, ou seja, os elementos que estão em `frutas` mas não estão em `citrus`. Exiba o resultado dessa diferença.

In [ ]:
diferenca = frutas.difference(citrus)
diferenca

{'banana', 'maçã', 'uva'}

8 - Esvazie completamente o conjunto `citrus` usando um método específico que remove todos os elementos de um conjunto. Verifique se o conjunto foi realmente esvaziado ao exibi-lo no console após a operação.

In [ ]:
citrus = {"laranja", "limão", "tangerina"}
citrus.clear()
citrus

set()

9 - Converta o conjunto `frutas` em um conjunto imutável, ou seja, um conjunto que não pode ser alterado após sua criação. Crie esse conjunto imutável e exiba-o no console.

In [ ]:
frutas_imutavel = frozenset(frutas)
frutas_imutavel

frozenset({'banana', 'laranja', 'maçã', 'uva'})

10 - Conte quantos elementos únicos existem no conjunto `frutas` e exiba o número total de elementos no console.

In [ ]:
frutas = {"maçã", "banana", "laranja", "uva"}
numero_elementos = len(frutas)
numero_elementos

4

# Exercícios do dia 24/10/24

1. Crie uma lista contendo cinco números inteiros de sua escolha. Em seguida, percorra essa lista e imprima o valor de cada elemento multiplicado por 2. O resultado deve mostrar o novo valor de cada elemento, um por vez.

In [ ]:
lista = [1, 2, 3, 4, 5]
for num in lista: novo_valor = num * 2
print(novo_valor)

10

2. Dada a lista ["maçã", "banana", "laranja", "uva"], remova o item "banana" da lista e adicione a fruta "melancia" no lugar. Depois, mostre a nova lista atualizada com as alterações feitas.

In [ ]:
lista_frutas = ["maçã", "banana", "laranja", "uva"]

indice_banana = lista_frutas.index("banana")
lista_frutas[indice_banana] = "melancia"

lista_frutas

['maçã', 'melancia', 'laranja', 'uva']

3. Escreva um programa que receba uma lista de números inteiros e exiba qual é o maior número e qual é o menor número presente na lista. Certifique-se de mostrar ambos os valores ao final.

In [ ]:
def encontrar_maior_menor(numeros):
    if not numeros or not all(isinstance(num, int) for num in numeros):
        return None

    maior = menor = numeros[0]

    for numero in numeros:
        maior = max(maior, numero)
        menor = min(menor, numero)

    return maior, menor

numeros = [1, 5, 2, 8, 3]
maior, menor = encontrar_maior_menor(numeros)

if maior is not None and menor is not None:
    print("Maior número:", maior)
    print("Menor número:", menor)
else:
    print("A lista está vazia ou contém elementos inválidos.")

Maior número: 8
Menor número: 1

4. Crie uma função que receba uma lista contendo várias palavras (strings). A função deve devolver uma nova lista que contenha a quantidade de letras de cada palavra da lista original. Exiba essa nova lista com o número de letras correspondente a cada palavra.

In [ ]:
def contar_letras(lista_palavras):

    numero_letras = []
    for palavra in lista_palavras:
        numero_letras.append(len(palavra))
    return numero_letras

palavras = ["abacaxi", "banana", "maçã", "uva"]
quantidades = contar_letras(palavras)
quantidades

[7, 6, 4, 3]

5. Dada uma lista de números inteiros que você vai definir, ordene essa lista em ordem crescente e depois exiba o resultado da lista ordenada.

In [ ]:
numeros = [5, 2, 8, 1, 9, 4]
numeros.sort()
numeros

[1, 2, 4, 5, 8, 9]

6. Crie uma tupla que contenha os números de 1 a 5. Tente alterar o valor do segundo elemento dessa tupla e observe o que acontece. No final, explique por que você conseguiu ou não modificar o valor.

In [ ]:
numeros_tupla = (1, 2, 3, 4, 5)

# Tentativa de alterar o segundo elemento
numeros_tupla[1] = 10

# Explicação:
# Tuplas em Python são imutáveis. Isso significa que, uma vez criadas, seus elementos não podem ser modificados, adicionados ou removidos.
# A tentativa de alterar um elemento de uma tupla resultará em um erro.
# Para modificar elementos, é preciso converter a tupla para uma lista, realizar as alterações e, se necessário, reconverter a lista para tupla.

TypeError: 'tuple' object does not support item assignment

7. Escreva um programa que receba uma tupla contendo diversos números inteiros. O programa deve calcular e exibir a soma de todos os números presentes na tupla.

In [ ]:
def calcular_soma_tupla(tupla_numeros):

    soma = 0
    for numero in tupla_numeros:
        soma += numero
    return soma

numeros = (1, 2, 3, 4, 5)
soma_total = calcular_soma_tupla(numeros)
print("A soma dos números na tupla é:", soma_total)

A soma dos números na tupla é: 15

8. Dada uma tupla que contém cinco números, crie uma função que retorne o primeiro e o último número dessa tupla. O programa deve imprimir ambos os valores corretamente.

In [ ]:
def retorna_primeiro_ultimo(tupla):
    if len(tupla) >= 1:
        return tupla[0], tupla[-1]
    else:
        return None, None

numeros = (10, 20, 30, 40, 50)
primeiro, ultimo = retorna_primeiro_ultimo(numeros)

if primeiro is not None and ultimo is not None:
    print("Primeiro número:", primeiro)
    print("Último número:", ultimo)
else:
    print("A tupla não possui elementos suficientes.")

numeros = (1,)
primeiro, ultimo = retorna_primeiro_ultimo(numeros)

if primeiro is not None and ultimo is not None:
    print("Primeiro número:", primeiro)
    print("Último número:", ultimo)
else:
    print("A tupla não possui elementos suficientes.")

numeros = ()
primeiro, ultimo = retorna_primeiro_ultimo(numeros)

if primeiro is not None and ultimo is not None:
    print("Primeiro número:", primeiro)
    print("Último número:", ultimo)
else:
    print("A tupla não possui elementos suficientes.")

Primeiro número: 10
Último número: 50
Primeiro número: 1
Último número: 1
A tupla não possui elementos suficientes.

9. Converta a lista ["a", "b", "c", "d"] em uma tupla e, em seguida, exiba o tipo do novo objeto que foi criado. O programa deve deixar claro que o tipo mudou de lista para tupla.

In [ ]:
tupla = tuple(lista)

print(f"O tipo do objeto mudou de {type(lista)} para {type(tupla)}")

O tipo do objeto mudou de <class 'list'> para <class 'tuple'>

10. Crie uma tupla com três números inteiros e uma string. Depois, verifique se o número 3 está presente nessa tupla e mostre uma mensagem dizendo se o número foi encontrado ou não.

In [ ]:
tupla = (1, 2, 3, "quatro")

if 3 in tupla:
  print("O número 3 foi encontrado na tupla.")
else:
  print("O número 3 não foi encontrado na tupla.")

O número 3 foi encontrado na tupla.

11. Crie dois sets: set1 = {1, 2, 3, 4} e set2 = {3, 4, 5, 6}. Exiba a união dos dois sets (todos os elementos sem repetição), a interseção (elementos que aparecem nos dois sets) e a diferença (elementos presentes no primeiro set, mas não no segundo). Mostre os resultados de cada operação.

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

uniao = set1.union(set2)
print("União:", uniao)

intersecao = set1.intersection(set2)
print("Interseção:", intersecao)

diferenca = set1.difference(set2)
print("Diferença (set1 - set2):", diferenca)

União: {1, 2, 3, 4, 5, 6}
Interseção: {3, 4}
Diferença (set1 - set2): {1, 2}

12. Dada a lista [1, 2, 2, 3, 4, 4, 5], remova os elementos duplicados transformando a lista em um set. Ao final, exiba o set resultante, que deve conter apenas valores únicos.

In [ ]:
lista = [1, 2, 2, 3, 4, 4, 5]
set_unico = set(lista)
set_unico

{1, 2, 3, 4, 5}

13. Crie um set contendo os valores {5, 10, 15, 20}. Adicione o número 25 a esse set e depois remova o valor 15. Mostre o set após cada alteração.

In [ ]:
meu_set = {5, 10, 15, 20}
print(meu_set)

meu_set.add(25)
print(meu_set)

meu_set.remove(15)
meu_set

{10, 20, 5, 15}
{5, 10, 15, 20, 25}

{5, 10, 20, 25}

14. Verifique se o número 7 está presente no set {1, 2, 3, 4, 5}. O programa deve exibir uma mensagem informando se o número foi encontrado ou não no set.

In [ ]:
meu_set = {1, 2, 3, 4, 5}

if 7 in meu_set:
  print("O número 7 foi encontrado no set.")
else:
  print("O número 7 não foi encontrado no set.")

O número 7 não foi encontrado no set.

15. Crie um set vazio e adicione vários valores a ele usando um laço de repetição (por exemplo, um for ou while). No final, mostre todos os valores armazenados no set.

In [ ]:
meu_set = set()

for i in range(1, 11):
  meu_set.add(i * 2)

meu_set

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

16. Crie um dicionário com os pares chave-valor 'nome': 'Ana', 'idade': 22, 'curso': 'Engenharia'. Adicione uma nova chave 'universidade': 'USP' ao dicionário. Em seguida, exiba o dicionário completo com todas as informações.

In [ ]:
pessoa = {'nome': 'Ana', 'idade': 22, 'curso': 'Engenharia'}
pessoa['universidade'] = 'USP'
pessoa

{'nome': 'Ana', 'idade': 22, 'curso': 'Engenharia', 'universidade': 'USP'}

17. Escreva um programa que percorra um dicionário com várias chaves e valores. Para cada par, imprima a chave e o valor no formato: Chave: X, Valor: Y. O dicionário pode conter qualquer informação que você preferir.

In [ ]:
pessoa = {'nome': 'Ana', 'idade': 22, 'curso': 'Engenharia', 'universidade': 'USP'}

for chave, valor in pessoa.items():
  print(f"Chave: {chave}, Valor: {valor}")

Chave: nome, Valor: Ana
Chave: idade, Valor: 22
Chave: curso, Valor: Engenharia
Chave: universidade, Valor: USP

18. Crie um dicionário que relacione nomes de alunos às suas notas. Depois, crie uma função que calcule e exiba a média das notas desses alunos com base nas informações do dicionário.

In [ ]:
def calcular_media_notas(notas_alunos):

    if not notas_alunos:
        print("O dicionário de notas dos alunos está vazio.")
        return

    soma_notas = sum(notas_alunos.values())
    media = soma_notas / len(notas_alunos)
    print(f"A média das notas dos alunos é: {media:.2f}")

notas_alunos = {"João": 8.5, "Maria": 9.2, "Pedro": 7.8, "Ana": 6.5}
calcular_media_notas(notas_alunos)

notas_alunos = {}
calcular_media_notas(notas_alunos)

A média das notas dos alunos é: 8.00
O dicionário de notas dos alunos está vazio.

19. Escreva um programa que permita ao usuário buscar o valor de uma chave específica em um dicionário. Caso a chave não exista, o programa deve exibir uma mensagem dizendo que a chave não foi encontrada. Teste o programa com diferentes chaves.

In [ ]:
def buscar_valor_chave(dicionario, chave):

    if chave in dicionario:
        print(f"O valor da chave '{chave}' é: {dicionario[chave]}")
    else:
        print(f"A chave '{chave}' não foi encontrada no dicionário.")

pessoa = {'nome': 'Ana', 'idade': 22, 'curso': 'Engenharia', 'universidade': 'USP'}

buscar_valor_chave(pessoa, 'nome')
buscar_valor_chave(pessoa, 'cidade')
buscar_valor_chave(pessoa, 'idade')
buscar_valor_chave(pessoa, 'curso')

O valor da chave 'nome' é: Ana
A chave 'cidade' não foi encontrada no dicionário.
O valor da chave 'idade' é: 22
O valor da chave 'curso' é: Engenharia

20. Dado um dicionário que contém produtos e seus respectivos preços, como {'pão': 2.50, 'leite': 3.00, 'café': 4.50}, permita que o usuário altere o preço de um dos produtos e exiba o dicionário atualizado com o novo valor.

In [ ]:
def atualizar_preco_produto(produtos):
    print("Produtos disponíveis:")
    for produto, preco in produtos.items():
        print(f"- {produto}: R${preco:.2f}")

    produto_escolhido = input("Digite o nome do produto que deseja alterar o preço: ")

    if produto_escolhido in produtos:
        novo_preco = float(input(f"Digite o novo preço para {produto_escolhido}: "))
        produtos[produto_escolhido] = novo_preco
        print("Preço atualizado com sucesso!")
        print("Dicionário atualizado:", produtos)
    else:
        print(f"O produto '{produto_escolhido}' não foi encontrado.")

produtos = {'pão': 2.50, 'leite': 3.00, 'café': 4.50}
atualizar_preco_produto(produtos)

Produtos disponíveis:
- pão: R$2.50
- leite: R$3.00
- café: R$4.50
Digite o nome do produto que deseja alterar o preço: pão
Digite o novo preço para pão: 4.50
Preço atualizado com sucesso!
Dicionário atualizado: {'pão': 4.5, 'leite': 3.0, 'café': 4.5}